$orange-theme: ( 
    colors: ( primary-color: #ff9800, secondary-color: #ec8f04),
    images: ( 
        pattern: "data:image/svg+xml,<svg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/></svg>",
        family-img-frame1: "../images/home/groomsmen-bridesmaids/Color/Orange/img-frame1.png",
        family-img-frame-sm: "../images/home/groomsmen-bridesmaids/Color/Orange/img-frame-sm.png",
        popup-bg-img: "../images/home/start-popup/popup-orange1.png",
        left-dot-img: "../images/home/announcement/colors/orange-left-dot.png",
        right-dot-img: "../images/home/announcement/colors/orange-right-dot.png",
        orange-img-frame: "../images/home/announcement/colors/orange-img-frame.png",
        orange-heart: "../images/home/announcement/heart-orange.svg"
    )
);


$template: $orange-theme;

$map: (
    key1: "value",
    key2: "val2"
)
    
map-get(map-get($orange-theme, colors),primary-color);

/* This will get you the primary color */
$primary-color: map-get(map-get($template, colors), primary-color);
$popup-color: map-get(map-get($template, colors), secondary-color);
$family-img-frame1: map-get(map-get($template, images), family-img-frame1);
$family-img-frame-sm: map-get(map-get($template, images), family-img-frame-sm);
$popup-bg-img: map-get(map-get($template, images), popup-bg-img);
$left-dot-img: map-get(map-get($template, images), left-dot-img);
$right-dot-img: map-get(map-get($template, images), right-dot-img);
$orange-img-frame: map-get(map-get($template, images), orange-img-frame);
$pattern: map-get(map-get($template, images), pattern);
$heart:  map-get(map-get($template, images), orange-heart);
