/*--------------------------------------------------------------
#1.7	groomsmen-bridesmaids
--------------------------------------------------------------*/

.groomsmen-bridesmaids {
    overflow: hidden;
    padding-bottom: 0;
}

.groomsmen-bridesmaids .content {
    background-color: $primary-color;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin-top: 150px;
    padding-bottom: 100px;
    position: relative;
}

.groomsmen-bridesmaids .content:after {
    content: "";
    width: 100%;
    height: 32px;
    display: block;
    background: url(../images/home/bottom-shape.png) repeat-x;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.groomsmen-bridesmaids .content .col {
    text-align: center;
}

.groomsmen-bridesmaids .frame {
    position: relative;
    margin-top: -127px;
    overflow: hidden;
}

.groomsmen-bridesmaids .frame img {
    border-radius: 50%;
}

.groomsmen-bridesmaids .frame img:first-child {
    width: 100%;
    position: relative;
    z-index: 5;
   
}

.groomsmen-bridesmaids .frame img:last-child {
   width: 88%;
    position: absolute;
    top: 18px;
    left: 13px;
}


.groomsmen-bridesmaids .content h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.groomsmen-bridesmaids .content span {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.groomsmen-bridesmaids .overlay,
.journal .overlay {
    background-color: $primary-color;
    opacity: .8;
    width: 92%;
    height: 92%;
    text-align: center;
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 51%;
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
    transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.groomsmen-bridesmaids .overlay div,
.journal .overlay div {
    background-color: #fff;
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.groomsmen-bridesmaids .overlay div span,
.journal .overlay div span {
    width: 100%;
    font-size: 15px;
    color: #df2349;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.groomsmen-bridesmaids .frame:hover .overlay,
.journal .frame:hover .overlay {
    background-image: url(../images/home/groomsmen-bridesmaids/hover-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
}


.family-img-frame1 {
    content:url($family-img-frame1);
//    background-image:url($family-img-frame1);
//    background-image: url("../images/home/groomsmen-bridesmaids/Color/Orange/img-frame1.png");
}

.family-img-frame-sm {
    content:url($family-img-frame-sm);
//    background-image:url($family-img-frame-sm); 
//    background-image: url("../images/home/groomsmen-bridesmaids/Color/Orange/img-frame-sm.png");
}

