.rsvp-bg {
    width: 100%;
    .flower-box-bg {
        max-height: 500px;
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .rsvp-content {
        margin-top: -30%;
        margin-bottom: 25%;
        text-align: center;
        p {
            font-size: 24px;
            font-family: 'Dancing Script', cursive;
        }
        button {
            margin: 40px 200px;
            background-color: orange;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            outline: none;
        }
        svg {
            margin-bottom: 40px;
            width: 100px;
            height: 100px;
        }
        .smiley-color {
            fill: $primary-color;
        }
    }
}

.h-message {
        top: 20px;
    position: relative;
}
.smily-mouth {
    transform: rotateX(90deg);
    transform-origin: 50% 30%;
}
.popup-confirmation {
    color: darkgreen;
    display: none;
    width: 270px;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 350px;
    background-color: #d3f5cb !important;
}


@media only screen and (max-width: 1100px) {
    .popup-confirmation {
        bottom: 240px;
    }
    .rsvp-content {
        button {
            margin: 0px 100px !important;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .popup-confirmation {
        bottom: 190px;
    }
    .rsvp-content {
        button {
            padding: 5px;
        }
        svg {
            margin-bottom: 0px !important;
        }
    }
}
@media only screen and (max-width: 900px) {
    //    .popup-confirmation {
    //         bottom: 325px;
    //    }
    //     
}
@media only screen and (max-width: 800px) {
    .rsvp-bg {
        img {
            width: 95%;
        }
        .rsvp-content {
            svg {
                display: none;
            }
            button {
                margin: 0px 30px !important;
                font-size: 13px;
            }
        }
    }
    .popup-confirmation {
        margin-top: 30%;
        width: 163px;
        p {
            font-size: 10px;
        }
    }
}
@media only screen and (max-width: 650px) {
    .rsvp-content {
        p {
            font-size: 18px !important;
        }
        button {
            margin: 0px 30px !important;
            font-size: 11px;
        }
        .buttons-ctr {
            margin-top: 50px;
        }
    }
    .popup-confirmation {
        margin-top: 38%;
    }
}
@media only screen and (max-width: 550px) {
    .rsvp-content {
        margin-top: -34% !important;
        p {
            font-size: 15px !important;
        }
        .buttons-ctr {
            margin-top: 20px !important;
        }
    }
    .popup-confirmation {
        margin-top: 45%;
    }
}
@media only screen and (max-width: 450px) {
    .rsvp-bg {
        img {
            height: 180px;
        }
    }
    .rsvp-content {
        margin-top: -42% !important;
        p {
            font-size: 18px !important;
            width: 60%;
            margin: 0 auto;
            line-height: 1;
        }
        button {
            font-size: 12px;
            padding: 5px !important;
        }
        .buttons-ctr {
            margin-top: 5px;
        }
    }
    .popup-confirmation {
        margin-top: 62%;
    }
}
@media only screen and (max-width: 350px) {
    .rsvp-content {
        p {
            font-size: 15px !important;
        }
        button {
            margin: 0px 8px !important;
            font-size: 10px !important;
        }
    }
    
   
}


@media only screen and (max-width: 900px) {
    
.flower-box-bg { 
    width: 95%;
    
    }
   
    .rsvp-h-wrapper {margin-top: 12px;}
     .h-btn{
        img {max-width: 45px !important;
            height: 60px !important;}
    }
    
.rsvp-h-btn {margin-top: 5px;}
.rsvp-h-yes-pos {transform: translate(-20px, 20%) rotateZ(-60deg) !important;}
.rsvp-h-no-pos {transform: translate(20px, 20%) rotateZ(60deg) !important;}
    
    
}
/* RSVP YES-NO BUTTON CSS AND ANIMATION */

.rsvp-h-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    .rsvp-h-btn {
        display: flex;
        justify-content: space-around;
        transition: 0.3s all;
        transform: scale(1);
        .rsvp-h-yes {
            cursor: pointer;
            transform: translate(0px, 0%) rotateZ(0deg);
            transition: 1.4s all;
            img {
                margin: 0;
                width: 100%;
                max-width: 70px;
            }
        }
        .rsvp-h-yes-pos {
            transform: translate(-240px, 35%) rotateZ(-60deg);
        }
        .rsvp-h-no {
            cursor: pointer;
            transform: translate(0px, 0%) rotateZ(0deg);
            transition: 1.4s all;
            img {
                margin: 0;
                width: 100%;
                max-width: 70px;
            }
        }
        .rsvp-h-no-pos {
            transform: translate(240px, 35%) rotateZ(60deg);
        }
    }
}

.rsvp-text {
        margin-top: 30px !important;
}
//
////@import "bourbon";
////@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
//
//html,
//body {
//  display: table;
//  width: 100%;
//  height: 100%;
//  background: white;
//}
//
//#main-ctr {
//  display: table-cell;
//  vertical-align: middle;
//  text-align: center;
//}
//
//svg {
//  @include transform(scale(1.85));
//}
//
////p {
////  margin-top: 80px;
////  margin-bottom: 15px;
////  font-family: sans-serif;
////  color: #999;
////  font-size: 100;
////  letter-spacing: 2px;
////  line-height: 1.25;
////  font-size: 16px;
////}
//
//.buttons-ctr {
//  
//  button {
//    border: 1px solid black;
//    padding: 10px 15px;
//    background: white;
//    border-radius: 3px;
//    cursor: pointer;
//    margin: 0 3px;
//    color: black;
//    text-transform: capitalize;
//    font-family: "roboto";
//    letter-spacing: 2px;
//    font-size: 14px;
//    transition: .3s all ease;
//    pointer-events: auto;
//    
//    &.active {
//      background: #FFEB97;
//      pointer-events: none;
//    }
//    
//    &:focus {
//      outline: none;
//    }
//  }
//}
//
//.copyright {
//  @include position(fixed, x 15px 15px x);
//  font-family: "Roboto";
//  
//  span {
//    line-height: 36px;
//    color: #999;
//    margin-right: 10px;
//    font-weight: 300;
//    
//    a {
//      font-weight: 400;
//      text-decoration: none;
//      color: #ea4c89;
//    }
//  }
//  
//  .balapa {
//    width: 30px;
//    height: 30px;
//    display: block;
//    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/profile/profile-512_4.jpg");
//    background-size: cover;
//    border-radius: 50%;
//    border: 5px solid rgba(255,255,255,.75);
//    float: right;
//  }
//}
//
//#wk-l-eye,
//#wk-r-eye,
//#sm-mouth-1,
//#sm-mouth-2,
//#sm-mouth-3,
//#st-l-eye,
//#st-r-eye,
//#rg-l-eye,
//#rg-r-eye,
//#hg-l-eye,
//#hg-r-eye,
//#st-mouth,
//#rg-mouth,
//#hr-mouth {
//  visibility: hidden;
//}
